.navbar {
  height: 55px;
  box-shadow: 0 3px 6px var(--shadow-color);
  background-color: var(--background-color);
  color: var(--text-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  .logo {
    font-size: 1.5em;
    font-weight: bolder;
    color: var(--primary-color);
    text-shadow: 0 2px 15px var(--shadow-color);
    transition: transform calc(var(--animation-speed) * 0.5s);
    &:hover {
      text-shadow: 0 5px 10px var(--shadow-color);
    }
  }
  span {
    color: var(--text-color);
  }
  .nav-links {
    a {
      margin-left: 1em;
      color: var(--text-light);
      letter-spacing: 1px;
      text-transform: uppercase;
      position: relative;
      &::before {
        content: "";
        display: inline-block;
        height: 3px;
        width: 100%;
        background-color: var(--primary-color);
        position: absolute;
        bottom: -3px;
        left: 0;
        transform: scalex(0);
        transition: getAnimationDuration(0.2s) ease-in-out;
      }
      &:hover {
        &::before {
          transform: scaleX(1);
        }
      }
      &.active {
        color: var(--primary-color);
        font-weight: bolder;
      }
    }
  }
  .sidebar-btn {
    height: 28px;
    width: 35px;
    position: relative;
    display: none;
    .bar {
      height: 5px;
      width: 100%;
      background-color: var(--text-color);
      position: absolute;
      border-radius: 7px;
      transition: getAnimationDuration(0.3s);
      &:nth-child(1) {
        top: 0;
      }
      &:nth-child(2) {
        top: 50%;
        transform-origin: right;
        transform: scalex(0.8) translateY(-50%);
      }
      &:nth-child(3) {
        top: 100%;
        transform: scalex(1.1) translateY(-100%);
      }
    }
    &.active {
      .bar {
        transform-origin: center;
        top: 50%;
        &:nth-child(1) {
          transform: translate(0, -50%) scale(1) rotate(45deg);
        }
        &:nth-child(2) {
          transform: translate(0, -50%) scalex(0);
        }
        &:nth-child(3) {
          transform: translate(0, -50%) scale(1) rotate(-45deg);
        }
      }
    }
  }
}
