@import "./partials/animations";
:root {
  --background-color: #fff;
  --background-light: #fff;
  --shadow-color: rgba(0, 0, 0, 0.2);
  --primary-color: rgba(255, 153, 0, 1);
  --text-color: #0a0a0a;
  --text-light: #575757;
  --font-size: 16px;
  --animation-speed: 1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: var(--font-size);
  font-family: "Roboto", sans-serif;
  padding-top: 55px;
}
.container {
  padding-inline: 25vw;
}
.main {
  padding-block: 3vw;
}
a {
  text-decoration: none;
}
img {
  object-fit: cover;
}
.btn {
  border: none;
  outline: none;
  background-color: var(--primary-color);
  color: #fff;
  padding: 0.75em 1em;
  text-transform: uppercase;
  font-size: 1em;
  font-weight: bold;
  letter-spacing: 1px;
  border-radius: 3px;
  box-shadow: 0 2px 6px var(--shadow-color);
  transition: all 0.3s ease-in-out;
  &:hover {
    box-shadow: 0 1px 3px var(--shadow-color);
  }
}

//navbar section
@import "./partials/navbar";

//sidebar section
@import "./partials/sidebar";

.section {
  display: flex;
  text-align: left;
  flex-wrap: wrap;
  .title {
    color: var(--tex-light);
    font-size: 2.5em;
    margin-bottom: 1.25em;
    font-weight: 900;
  }
  .info {
    color: var(--text-light);
    font-size: 1em;
    margin-bottom: 1.25em;
    line-height: 1.3;
    letter-spacing: 1px;
  }
  .col {
    width: 50%;
  }
}
.custom-image {
  height: 0;
  width: 100%;
  padding-top: 100%;
  background-color: #575757;
  position: relative;
  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
// Home page
@import "./partials/Home/hero_section";
@import "./partials/Home/improve_skills_section";
@import "./partials/Home/Quote_section";
@import "./partials/Home/chefs_section";

// Recipes page
@import "./partials/Recipes/previous_searches";
@import "./partials/Recipes/recipes_section";

// Footer
@import "./partials/footer_section";

@import "./partials/responsive";
